<extend name="Public/base"/>
<block name="sidebar">
    <include file="sidemenu"/>
</block>


<block name="body">
<!-- 标题 -->
<!-- 按钮工具栏 -->
<div class="cf">	
    <div class="fl">
        <button class="btn document_add" url="{:U('Picture1/add')}">新 增</button>
        <button class="btn ajax-post" target-form="ids" url="{:U("Picture1/setStatus",array("status"=>0))}">禁 用</button>
        <button class="btn ajax-post confirm" target-form="ids" url="{:U("Picture1/setStatus",array("status"=>-1))}">删 除</button>
    </div>
    <!-- 高级搜索 -->
</div>
<!-- 数据表格 -->
<div class="data-table">
    <table class="">
        <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">编号</th>
                <th class="">图片</th>
                <th class="">创建时间</th>
                <th class="">状态</th>
                <th class="">操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
            <tr>
                <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
                <td>{$vo.id} </td>
                <td><img src="{$vo.path}" style="width:208px;height: 162px;"></td>
                <td><span>{$vo.create_time|time_format}</span></td>
                <td><span>{$vo.status}</span></td>
                <td><a href="{:U('Picture1/edit?id='.$vo['id'])}">编辑</a>
                    <a href="{:U('Picture1/setStatus?ids='.$vo['id'].'&status='.abs(1-$vo['status']))}" class="ajax-get">{$vo.status|show_status_op}</a>
                    <a href="{:U('Picture1/del?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                </td>
            </tr>
            </volist>
        </tbody>
    </table>

</div>
<!-- 分页 -->
<div class="page">
    {$_page}
</div>
</block>


    <block name="script">
    <script type="text/javascript">
    //只有一个模型时，点击新增
    $('.document_add').click(function(){
        var url = $(this).attr('url');
        if(url != undefined && url != ''){
            window.location.href = url;
        }
    });
    </script>
    </block>